<%= form_with model: @user, url: update_password_path(token: params[:token]), html: {class: "auth-form row needs-validation", validate: "validate"} do |form| %>
    <h1>
        <%= t 'auth.set_password.title' %>
    </h1>
    <% invalid = @user.errors.include?(:password) %>
    <div class="form-group col-12 mb-3">
        <%= form.label :password, t(:password), class: "form-label" %>
        <%= form.password_field :password, placeholder: t(:password_placeholder), class: "form-control #{'is-invalid' if invalid}", :required => true, minlength: 8 %>
        <% if invalid %>
            <div class="invalid-feedback">
                <%= show_errors @user, :password %>
            </div>  
        <% end %>
    </div>
    <%= form.submit t('base_text.save'), class: "btn btn-primary" %>
<% end %>