<%= form_with(model: turn, html: {class: "auth-form row needs-validation", validate: "validate"}) do |form| %>
  <% if turn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

      <ul>
        <% turn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% invalid = turn.errors.include?(:campaign_id) %>
  <div class="form-group col-12 mb-3">
    <%= form.label :campaign, class: "form-label" %>
    <%= form.collection_select :campaign_id, Campaign.all, :id, :name, prompt: true, html: {class: "form-select #{'is-invalid' if invalid}" } %>
    <% if invalid %>
      <div class="invalid-feedback">
        <%= show_errors turn, :campaign %>
      </div>
    <% end %>
  </div>

  <% invalid = turn.errors.include?(:vaccination_center) %>
  <div class="form-group col-12 mb-3">
    <%= form.label :vaccination_center, class: "form-label" %>
    <%= form.collection_select :vaccination_center_id, VaccinationCenter.all, :id, :name, prompt: true, html: {class: "form-select #{'is-invalid' if invalid}" } %>
    <% if invalid %>
      <div class="invalid-feedback">
        <%= show_errors turn, :vaccination_center %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
