
<%= form_for vaccination_center do |form| %>
    <% if vaccination_center.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(vaccination_center.errors.count, "error") %> prohibited this vaccination center from being saved:</h2>
  
        <ul>
          <% vaccination_center.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  
    <% invalid = vaccination_center.errors.include?(:name) %>
    <div class="form-group col-12 mb-3">
        <%= form.label :name, t("base_text.vaccination_center_name"), class: "form-label" %>
        <%= form.text_field :name, placeholder: t("vaccination_center.name_placeholder"), class: "form-control #{'is-invalid' if invalid}" %>
        <% if invalid %>
            <div class="invalid-feedback">
                <%= show_errors vaccination_center, :name %>
            </div>  
        <% end %>
    </div>
  
    <% invalid = vaccination_center.errors.include?(:address) %>
    <div class="form-group col-12 mb-3">
        <%= form.label :address, t("base_text.vaccination_center_address"), class: "form-label" %>
        <%= form.text_field :address, placeholder: t("vaccination_center.address_placeholder"), class: "form-control #{'is-invalid' if invalid}" %>
        <% if invalid %>
            <div class="invalid-feedback">
                <%= show_errors vaccination_center, :address %>
            </div>  
        <% end %>
    </div>
  

  
    <div class="actions">
    <%= form.submit "Actualizar", class: "btn btn-primary mx-3", formvalidate: true %>
    </div>
  <% end %>
  
 