<div class="row mb-4">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <h1>
      <%= t 'vaccines.title' %>
    </h1>
  </div>
</div>


<div class="row">
  <% @campaigns.each do |campaign| %>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <div class="card">
        <div class="card-header">
          <h2>
            <%= campaign.name %>
          </h2>
        </div>
        <div class="card-body text-center">
          <% if campaign.stock > 0 %>
            <div class="alert alert-primary">
              <%= get_quantity_of_vaccines_available campaign %> <%= t 'vaccines.vaccines_available' %>
            </div>
          <% else %>
            <div class="alert alert-danger">
              <%= t 'vaccines.no_vaccines_available' %>
            </div>
          <% end %>
          <% if has_role?([:directivo, :administrador]) %>
            <%= link_to t('vaccines.load_batch'), load_batch_url(campaign), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to t('vaccines.assign_shifts'), assign_turns_url(campaign), class: "btn btn-outline-secondary btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
